li {
    list-style: none;
    display: inline-block;
    float: none;
}

.level-select-button {
    position: relative;
}

.icon {
    display: block;
    width: auto;
    height: auto;
}

.icon.hidden {
    display: none;
}

button.level-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 7em 2em 2em 2em;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    background: transparent;
    border: none;
    cursor: pointer;
}

button.level-button:disabled {
    cursor: default;
}

.status-icon {
    position: absolute;
    right: 2em;
    bottom: 2em;
}

.status-icon > img {
    height: 2em;
    width: 2em;
}