li {
    list-style: none;
    display: inline-block;
    background-color: #CCCCCC;
    margin: 0 .5em;
    width: 10em;
    height: 5em;
    position: relative;
}

button.level-button {
    display: flex;
    padding: .5em;
    flex-direction: column;
    justify-content: left;
    background: none;
    border: none;
    text-align: left;
    width: 100%;
    height: 100%;
}

button.level-button:hover {
    cursor: pointer;
}

.skipped-checkbox {
    position: absolute;
    right: .5em;
    bottom: .5em;
}