/*.input-header {*/
/*    background: #800000;*/
/*    padding: .5em;*/
/*}*/

/*.input-header > img {*/
/*    width: 2em;*/
/*}*/

.input-editor-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.editor-wrapper {
    flex-grow: 1;
    overflow: hidden;
}

.editor-wrapper .button-format {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 20;
    opacity: 0;
    transition: opacity 0.3s;
}

.editor-wrapper:hover .button-format {
    opacity: 1.0;
}