/*.input-header {*/
/*    background: #800000;*/
/*    padding: .5em;*/
/*}*/

/*.input-header > img {*/
/*    width: 2em;*/
/*}*/

.input-editor-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.editor-wrapper {
    flex-grow: 1;
    overflow: hidden;
}

.editor-wrapper .button-format {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 20;
    opacity: 0;
    transition: opacity 0.3s;
}

.editor-wrapper:hover .button-format {
    opacity: 1.0;
}

.line-highlight-debug {
    background-color: rgba(0, 0, 255, 0.3);
}

.line-highlight-info {
    background-color: rgba(0, 0, 0, 0.3);
}

.line-highlight-success {
    background-color: rgba(0, 255, 0, 0.3);
}

.line-highlight-warning {
    background-color: rgba(255, 0, 0, 0.3);
}
