.viz-container {
    height: 100%;
    position: relative;
}

.viz-inner {
    padding: 2em;
    display: block;
    margin: auto;
    text-align: center;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    overflow: auto;
}

.slot-grid,
.spider-grid {
    display: grid;
    gap: 1em;
    /*grid-template-rows: repeat(1, 5em);*/
    /*grid-template-columns: repeat(auto-fit, 7.5em);*/
    grid-auto-flow: column;
    grid-auto-columns: 7.5em;
    justify-content: start;
    margin-bottom: 1em;
}

.spider-grid {
    margin-bottom: 2em;
}

.var-slot {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 7.5em;
    height: 5em;
}

.chip-stack {
    position: relative;
    width: 7.5em;
    height: 5em;
}

.chip-bkg > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 7.5em;
    height: 5em;
}

.chip-box > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4.3em;
    height: 4.3em;
}

.chip-box {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.chip-labels {
    color: white;
    z-index: 2;
    position: relative;
    text-align: center;
    font-size: 0.8em;
}


.spider-grid > .spider-slot{
    width: 5em;
    height: 5em;
}

.inactive-spider {
    width: 5em;
    height: 5em;
    margin: auto auto 2em;
}

.inactive-spider > .spider-icon,
.spider-slot > .spider-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(128, 0, 0);
    width: 100%;
    height: 100%;
    color: white;
}

.inputs-container {
    margin-top: auto;
    min-width: 10em;
    height: 5em;
    background: lightskyblue;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    justify-content: center;
}
