.puzzle-details-window {
    /*position: fixed;*/
    /*right: 0;*/
    /*top: 0;*/
    /*display: inline-block;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*z-index: 100;*/
    display: inline-block;
    position: relative;
}

.puzzle-details-window img {
    display: block;
    width: auto;
    height: auto;
    max-height: 60vh;
}

.puzzle-details-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 1.25em 1.5em 2em 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.puzzle-details {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.puzzle-details h1 {
    font-size: 2em;
}

.puzzle-details h2 {
    font-size: 1.25em;
    font-family: W95FA, serif;
    font-weight: normal;
}

.puzzle-details h3 {
    font-size: 1.25em;
    font-family: "Perfect DOS VGA 437", sans-serif;
}

.puzzle-details p {
    font-size: 1.25em;
}

.puzzle-details-buttons {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 2em;
    padding: 0 1em;
}

label {
    font-size: 1.1em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

label:hover {
    cursor: pointer;
}

label input{
    display: inline-block;
    height: 22px;
    width: 22px;
}

label input:hover{
    cursor: pointer;
}

.skipped-checkbox label input[type="checkbox"]:before {
    width: 20px;
    height: 20px;
}

.skipped-checkbox label input[type="checkbox"]:after {
    top: -20px;
    width: 16px;
    height: 16px;
}