.viz-container {
    height: 100%;
    position: relative;
}

.viz-inner {
    padding: 2em;
    display: block;
    margin: auto;
    text-align: center;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    overflow: auto;
}

.scroll-wrapper {
    position: relative;
    width: fit-content;
}

.slot-grid,
.spider-grid {
    display: grid;
    gap: 1em;
    grid-template-rows: repeat(1, 5em);
    justify-content: center;
    margin-bottom: 1em;
}

.spider-grid {
    margin-bottom: 2em;
}

.slot-grid > .var-slot {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white
}

.spider-grid > .spider-slot{
    width: 5em;
    height: 5em;
}

.inactive-spider {
    width: 5em;
    height: 5em;
    margin: auto auto 2em;
}

.inactive-spider > .spider-icon,
.spider-slot > .spider-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(128, 0, 0);
    width: 100%;
    height: 100%;
    color: white;
}

.inputs-container {
    margin-top: auto;
    min-width: 10em;
    height: 5em;
    background: lightskyblue;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    justify-content: center;
}
