.level-selection-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    height: 100vh;
}

.scroll-container {
    flex: 1 0 25em;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    overflow-x: auto;
    overflow-y: visible;
}

.scroll-container ul {
    display: flex;
    flex-direction: row;
    gap: 3em;
    align-items: end;
    justify-content: flex-start;

    height: 10em; /* for centering, not for containing */
    width: max-content;

    padding: 2em;
    margin: 0;
}

.settings-dropdown {
    padding: 1.5em;
}

.settings-dropdown > button {
    height: fit-content;
    width: fit-content;
    padding: .5em;
    border-top: .2em solid #E0E0E0;
    border-left: .2em solid #E0E0E0;
    border-right: .2em solid #808080;
    border-bottom: .2em solid #808080;
    box-shadow:
            .2em 0 black,
            0 .2em black,
            .2em .2em black,
            -.2em 0 white,
            0 -.2em white,
            -.2em -.2em white;
}

.settings-dropdown > button:hover,
.settings-dropdown > button:active {
    cursor: pointer;
    border-top: .2em solid #808080;
    border-left: .2em solid #808080;
    border-right: .2em solid #E0E0E0;
    border-bottom: .2em solid #E0E0E0;
    box-shadow:
            .2em 0 white,
            0 .2em white,
            .2em .2em white,
            -.2em 0 black,
            0 -.2em black,
            -.2em -.2em black;
}

.settings-dropdown > button > img {
    width: 3em;
    height: auto;
}

ul.dropdown-menu {
    background: var(--secondary-background-color);
    position: absolute;
    display: block;
    list-style: none;
    margin: .5em 0 0 0;
    padding: 0;
    width: fit-content;
    border-top: .2em solid #E0E0E0;
    border-left: .2em solid #E0E0E0;
    border-right: .2em solid #808080;
    border-bottom: .2em solid #808080;
    box-shadow:
            .2em 0 black,
            0 .2em black,
            .2em .2em black,
            -.2em 0 white,
            0 -.2em white,
            -.2em -.2em white;
}

ul.dropdown-menu li {
    display: block;
    width: 100%;
}

ul.dropdown-menu li button {
    background: transparent;
    border: none;
    font-size: 1em;
    font-family: var(--default-font-family), monospace;
    padding: .5em 1.5em .5em 1em;
    width: 100%;
    text-align: left;
}

ul.dropdown-menu li button:hover {
    background: maroon;
    color: white;
    cursor: pointer;
}

/* Position the wrapper properly */
.popup-slide-wrapper {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 999;
}

/* Animate from right to left */
.popup-slide-enter {
    transform: translateX(100%) translateY(-50%);
}

.popup-slide-enter-active {
    transform: translateX(0%) translateY(-50%);
    transition: transform 300ms ease-in-out;
}

.popup-slide-exit {
    transform: translateX(0%) translateY(-50%);
}

.popup-slide-exit-active {
    transform: translateX(100%) translateY(-50%);
    transition: transform 300ms ease-in-out;
}


/*.popup-slide-wrapper {*/
/*    position: fixed;*/
/*    right: 0;*/
/*    top: 50%;*/
/*    transform: translateY(-50%);*/
/*    z-index: 1000;*/
/*    display: inline-block;*/
/*    !*justify-content: center;*!*/
/*    !*align-items: center;*!*/
/*    !*height: auto;*!*/
/*    !*width: auto;*!*/

/*    border: 2px solid red;*/
/*}*/

/*!* ENTERING *!*/
/*.popup-slide-enter {*/
/*    transform: translateX(100%) translateY(-50%);*/
/*    opacity: 0;*/
/*}*/
/*.popup-slide-enter-active {*/
/*    transform: translateX(0%) translateY(-50%);*/
/*    opacity: 1;*/
/*    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;*/
/*}*/

/*!* EXITING *!*/
/*.popup-slide-exit {*/
/*    transform: translateX(0%) translateY(-50%);*/
/*    opacity: 1;*/
/*}*/
/*.popup-slide-exit-active {*/
/*    transform: translateX(100%) translateY(-50%);*/
/*    opacity: 0;*/
/*    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;*/
/*}*/
