.puzzle-layout {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 100vh;
}

.input-container {
    grid-column: 1 / 4;
    grid-row: 1 / 5;
    border-top: .2em solid white;
    border-left: .2em solid white;
    border-right: .2em solid black;
    border-bottom: .2em solid black;
    background: #E0E0E0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.action-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

.action-buttons button {
    flex: 1 1 0;
    min-width: 0;
    background: transparent;
    padding: .75em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .5em;
    color: white;
    font-size: 1.25em;
    font-family: var(--default-font-family);
    box-sizing: border-box;
    border: .2em solid transparent;
}

.action-buttons button:hover {
    cursor: pointer;
    border: .2em solid black;
}

button.menu-button {
    background: #3a342c;
}

button.menu-button:hover {
    background: #221c1a;
}

button.run-button {
    background: #1ab90c;
}

button.run-button:hover {
    background: #006408;
}

button.step-button {
    background: #ff6400;
}

button.step-button:hover {
    background: #bb4c03;
}

button.hint-button {
    background: #3131fa;
}

button.hint-button:hover {
    background: #0000d5;
}

button.reset-button {
    background: #b80303;
}

button.reset-button:hover {
    background: maroon;
}

button img {
    height: 1.75em;
    width: fit-content;
}

.visualization-container {
    grid-column: 4 / 8;
    grid-row: 1 / 4;
    border-top: .2em solid white;
    border-left: .2em solid white;
    border-right: .2em solid black;
    border-bottom: .2em solid black;
    background: #E0E0E0;
}

.output-container {
    grid-column: 4 / 8;
    grid-row: 4 / 5;
    border-top: .2em solid white;
    border-left: .2em solid white;
    border-right: .2em solid black;
    border-bottom: .2em solid black;
    background: #E0E0E0;
}

.details-container {
    grid-column: 1 / 8;
    grid-row: 5 / 6;
    border-top: .2em solid white;
    border-left: .2em solid white;
    border-right: .2em solid black;
    border-bottom: .2em solid black;
    background: #E0E0E0;
}

.header {
    background: #800000;
    height: 1.5em;
    padding: .5em;
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
}

.header > img {
    height: 1.5em;
    width: fit-content;
}

.header > h2 {
    color: white;
    font-size: 1.25em;
}
